@media (max-width:716px){
    main{
        flex-direction: column;
    }
    #fb{
        margin-top: 10px;
        margin-right: 80px;
    }
    #logo{
        justify-content: center;
    }
    #tex{
        justify-content: center;
    }
    #registro {
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }
}